---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Regulus | Escola de Astrologia">
    <h1 class="text-white text-3xl font-bold text-center">
        Astrologia Mundial
    </h1>
    <div class="space-y-4">
        <section>
            <h2 class="text-lg font-semibold">Descrição</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Obcaecati repudiandae itaque nisi unde doloribus possimus
                aperiam facere architecto, beatae amet. Earum dolorum iusto
                libero ab voluptates quasi ipsa quaerat deleniti!
            </p>
        </section>
        <section>
            <h2 class="text-lg font-semibold">Objetivo</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
                minus quasi earum quod, quae dolorem sit libero iste soluta in
                esse. Culpa ratione odio consectetur, recusandae doloribus omnis
                nostrum totam.
            </p>
        </section>
        <p class="text-lg">
            <span class="font-semibold">Duração:</span> 3 meses com aulas semanais
            de 2 horas
        </p>
        <h3 class="text-2xl font-semibold text-center">Programa:</h3>
        <ol>
            <li>
                1. Introdução
                <ol>
                    <li>1.1 Parte 1</li>
                    <li>1.2 Parte 2</li>
                </ol>
            </li>
        </ol>
    </div>
</Layout>
