---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Regulus | Escola de Astrologia">
  <h1 class="text-white text-3xl font-extrabold">
    PROGRAMA DO CURSO LIVRE DE FORMAÇÃO EM ASTROLOGIA
  </h1>
  <p>
    Hoje, possuir o conhecimento Astrológico, permite utilizar esta ferramenta
    no auto-conhecimento, aprimoramento pessoal, saúde, nos relacionamentos
    familiares, afetivos, profissionais, expandindo para as áreas; empresarial,
    de negócios, planejamento e desenvolvimento estratégico, propaganda e
    marketing, produção, relacionamento comercial, etc. Possibilitando ao
    profissional um amplo campo de atuação como Astrólogo ou como uma ferramenta
    de trabalho diferenciada, na área de atuação.
  </p>
  <br />
  <h3>A Profissão de Astrólogo:</h3>
  <p>
    Embora foram apresentados dois projetos Lei (Câmara e Senado) para
    Regulamentar a Profissão de Astrólogo, atualmente não existem exigências
    para seu exercício. Desta forma qualquer pessoa pode denominar-se
    "Astrólogo". Estudar de forma sistemática em boas escolas, participar de
    núcleos de profissionais, fará com que você tenha um diferencial em seu
    trabalho. No Brasil existem sindicatos e associações que auto-regulamentam o
    exercício profissional e desenvolvem currículos de referência para a
    formação do Astrólogo. Atualmente "Astrólogo" é catalogado no MTE
    (Ministério do Trabalho e Emprego) como ocupação (CBO- 5167-05 - Astrólogo -
    Cosmoanalista) - Inclusive a REGULUS, representada pelos seus diretores e
    professores, participou do grupo de trabalho para a elaboração da ocupação:
    Astrólogo - Cosmoanalista.
  </p>
  <br />
  <h3>O Curso Livre de Formação em Astrologia:</h3>
  <p>
    A modalidade de Cursos Livres que, após a Lei nº 9.394 - Diretrizes e Bases
    da Educação Nacional, passou a integrar a Educação Profissional, como
    Educação Profissional de Nível Básico. É a modalidade de educação não-formal
    de duração variável, destinada a proporcionar ao trabalhador conhecimentos
    que lhe permitam profissionalizar-se, qualificar-se e atualizar-se para o
    trabalho. Não há exigência de escolaridade anterior.
  </p>
  <br />
  <h4>Como Funciona:</h4>
  <p>
    Pensando nas diferentes necessidades de conhecimento e atuação, a REGULUS
    estruturou sua grade curricular de formação de forma que, após os módulos
    básicos, o estudante pode montar sua grade de estudos, direcionando para a
    área que mais se adapta à suas necessidades profissionais sem prejudicar a
    aprendizagem. Da forma em que são disponibilizados, o aluno, a partir da
    finalização do módulo inicial, poderá cursar mais de um módulo/matéria em
    paralelo, diminuindo o tempo de estudos. O aluno poderá optar pelos módulos
    que são mais adequados, como também escolher o nível de conhecimento e
    atuação que deseja. Do uso pessoal para auto-conhecimento ao profissional,
    como Astrólogo ou como ferramenta na área de atuação profissional. Desta
    forma o estudante que quer continuar seus estudos na REGULUS, não necessita
    refazer matérias que já tenha estudado em outras escolas ou, com professores
    particulares ou, como autodidata.
  </p>
  <br />
  <h4>Certificado de Conclusão:</h4>
  <p>
    Ao completar a carga horária mínima de 200 horas/aula, obtiver
    aproveitamento satisfatório através de exercícios, acompanhamento e
    avaliações em aula, comparecer no mínimo a 75 % do total das aulas e estar
    em dia com os pagamentos. O aluno poderá solicitar a emissão do Certificado
    de Conclusão do Curso de Formação Profissional em Astrologia. No caso do
    aluno voltar a estudar na REGULUS, após a emissão do certificado de
    formação, será fornecido um atestado de frequencia dos cursos, com carga
    horária e matéria, para ser anexado ao certificado. Para os cursos de
    Formação Específica é obrigatório completar toda a carga horária prevista
    para o curso. O conteúdo e forma de ensino, foram elaborados pela REGULUS,
    com base em suas experiências e em encontros de professores, escolas e
    entidades no Brasil. A carga horária mínima de 200 horas/aula para a
    formação do profissional de Astrologia foi definida pelo MTE com base no CBO
    (Código Brasileiro de Ocupações) - (consulte o site: CBO 5167-05 Astrólogo)
    OBS: A REGULUS poderá aceitar, à seu critério e após avaliação, atestados de
    freqüência de outras escolas reconhecidas, para complemento da carga
    horária. (máximo de 20% da carga horária)
  </p>
  <br />
  <h3>Módulos Principais:</h3>
  Estes módulos são considerados essenciais na formação do profissional.
  <ul>
    <li>
      A1 - Princípios e Fundamentos da Astrologia (Módulo inicial) - 4 meses/32h
      - conteúdo
    </li>
    <li>
      A1 - Interpretação I (Conceitos, Técnicas e Dinâmica) - 4 meses/32h -
      conteúdo
    </li>
    <li>
      A1 - Interpretação II (Técnicas específicas) - 4 meses/32h - conteúdo
    </li>
    <li>A1 - Cálculo e Sistemas de Previsão - 2 meses/16h- Conteúdo</li>
    <li>A2 - Trânsitos Astrológicos - 2 meses/16h</li>
    <li>A2 - Progressões Secundárias - 2 meses/16h</li>
    <li>A2 - Revolução Solar - 3 meses/24h - conteúdo</li>
    <li>
      A2 - Retificação de Hora do Nascimento por Progressões Secundárias - 2
      meses/16h
    </li>
    <li>
      A3 - Previsões - Técnicas conjugadas (Progressões Secundárias, Trânsitos,
      Lunações, Eclipses e Revolução Solar) - 3 meses/24h
    </li>
  </ul>

  <h3>Módulos de Prática:</h3>
  Estes módulos são complementares aos principais, importantes para os estudantes
  que ainda não tem segurança na prática dos conhecimentos ensinados nos módulos.
  Obs. Não é necessário que tenha frequentado os módulos na Regulus e sim, já ter
  o conhecimento do assunto do módulo.
  <ul>
    <li>
      P1 - Prática de Interpretação I - mínimo 1 mês/08h (módulo com aulas
      práticas, com mapas de exemplos da matéria do módulo Interpretação I)
    </li>
    <li>
      P1 - Prática de Interpretação II - mínimo 1 mês/08h (módulo com aulas
      práticas, com mapas de exemplos da matéria do módulo Interpretação II)
    </li>
    <li>
      P2 - Prática de Trânsitos Astrológicos - mínimo 1 mês/08h (módulo com
      aulas práticas da matéria do módulo de Trânsitos Astrológicos)
    </li>
    <li>
      P2 - Prática de Progressões Secundárias - mínimo 1 mês/08h (módulo com
      aulas práticas da matéria do módulo de progressões secundárias)
    </li>
    <li>
      P2 - Prática de Revolução Solar - mínimo 1 mês/08h (módulo com aulas
      práticas do módulo de Revolução Solar)
    </li>
    <li>
      P2 - Prática Interpretação e Previsões - mínimo 1 mês/08h (módulo com
      aulas práticas, de interpretação de mapas e previsões)
    </li>
    <li>
      P3 - Prática de Previsões Conjugadas - mínimo 1 mês/08h (módulo com aulas
      práticas, com mapas de exemplos da matéria do módulo Prev.Tec.Conjugadas)
    </li>
  </ul>
  <h3>Módulos de Especializações:</h3>

  São ensinadas as técnicas de especializações na Astrologia, aqui estão
  listados os principais: (na programação podem ser reconhecidos pela letra "E"
  no código do curso)
  <ul>
    <li>E1 - Sinastria - 2 meses/16h - conteúdo</li>
    <li>E1 - Astrologia Vocacional</li>
    <li>
      E1 - Astrologia Vocacional – Método Gauquelin - 4 meses/32h - conteúdo
    </li>
    <li>E1 - Astrologia Cármica</li>
    <li>E1 - Astrologia Esotérica</li>
    <li>E1 - Astrologia e Psicologia</li>
    <li>E1 - Astrologia e Saúde</li>
    <li>E1 - Astrologia Cabalística</li>
    <li>E1 - Mitologia na Astrologia - 6 meses / 48h - conteúdo</li>
    <li>E2 - Astro-Cartografia e Astro-Localização - 4 meses/32h - conteúdo</li>
    <li>E2 - Direções Primárias - 3 meses/24h - conteúdo</li>
    <li>E1 - Astrologia & Cinema - 14 aulas/28h - conteúdo</li>
  </ul>
  <h3>Módulos Complementares:</h3>
  São ensinadas técnicas e abordagens mais específicas e complementares, sobre diversos
  assuntos, ampliando e aprofundando as possibilidades de interpretação do mapa natal.
  Aqui estão listados os principais: (na programação podem ser reconhecidos pela
  letra "C" no código do curso)
  <ul>
    <li>C1 - Mecânica Celeste - 1 mês/08h - conteúdo</li>
    <li>C1 - Sistemas de Casas - 1 mês/08h - conteúdo</li>
    <li>C1 - Casas Derivadas</li>
    <li>C2 - Regras de Morin</li>
    <li>C1 - Estrelas Fixas - 1 mês/08h</li>
    <li>C1 - Nodos Lunares e Lillith - 1 mês/08h</li>
    <li>C1 - Asteróides, Quiron e Pontos Específicos - 1 mês/08h</li>
    <li>
      C2 - Balança de Hermes (método para retificação de hora de nascimento) - 2
      meses/16h
    </li>
    <li>C2 - Pontos Médios (Midpoints) - 1 mês/08h - conteúdo</li>
  </ul>
  <h3>Cursos de Formação Específica:</h3>
  Para estes cursos de Formação Específica é obrigatório completar toda a carga horária
  prevista, para solicitar o certificado.
  <ul>
    <li>Astrocaracterologia - 20 meses/240h - conteúdo</li>
    <li>Astrologia Tradicional - 29 meses/232h - conteúdo</li>
  </ul>
</Layout>
