---
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Regulus | Escola de Astrologia">
    <main>
        <h1 class="text-white text-3xl font-bold mb-10">
            Condições do Curso livre de Formação em Astrologia
        </h1>

        <ol class="list-decimal space-y-2">
            <li>
                <p class="font-bold">Sobre o curso:</p>
                <p>
                    As aulas são ao vivo com transmissão direta via aplicativo
                    ZOOM, permitindo a interatividade dos alunos e professores.
                    Não é aula pré gravada.
                </p>
                <p>
                    As aulas ao vivo são gravadas em vídeo e disponibilizadas em
                    nossa plataforma de EAD em até 3 dias úteis, para que os
                    alunos possam rever a aula e ter acesso aos materiais de
                    apoio.
                </p>
            </li>
            <li>
                <p class="font-bold">Sobre as aulas:</p>
                <p>As aulas têm duração de 2 horas, sem intervalos.</p>
                <p>
                    É importante que o aluno coloque seu nome correto no
                    aplicativo, entre pelo menos 5 minutos antes e aguarde a
                    aprovação da sua entrada em sala.
                </p>
                <p>
                    Em cursos com poucos alunos e sem interação, a aula poderá
                    terminar antes.
                </p>
                <p>
                    O tempo destinado à aula, compreende a apresentação da
                    matéria e tempo para perguntas e esclarecimentos de dúvidas.
                </p>
                <p>
                    A reposição de aula, ocorrerá somente quando houver
                    problemas na transmissão por parte do professor ou da
                    escola, impedindo a aula.
                </p>
                <p>
                    A aula iniciará somente com a presença de pelo menos um
                    aluno ao vivo. O não comparecimento de alunos em até 20 min
                    da hora de início, será considerado como aula dada, não
                    haverá reposição e a matéria será inserida nas aulas
                    seguintes.
                </p>
            </li>
            <li>
                <p class="font-bold">Sobre presença:</p>
                <p>
                    É contabilizada a presença em aula ao vivo com câmera
                    aberta, para avaliação final e emissão do Certificado de
                    Formação em Astrologia.
                </p>
                <p>
                    É obrigatório a presença de 75%, para certificação: Sendo
                    que será obrigatório a presença ao vivo de no mínimo 50% e
                    os outros 25%, poderá ser obtida via gravação da aula.
                    Assistindo 50% ao vivo e 50% via gravação, será considerada
                    100%.
                </p>
                <p>
                    O aluno poderá se inscrever como “ouvinte” e terá até 60
                    dias para assistir às aulas gravadas, sem direito à contagem
                    de horas.
                </p>
            </li>
            <li>
                <p class="font-bold">Sobre pagamento:</p>
                <p>
                    O pagamento do curso é por boleto bancário, enviado para o
                    e-mail informado pelo aluno no preenchimento da ficha de
                    inscrição.
                </p>
                <p>
                    Caso o pagamento não for efetuado na data de vencimento, o
                    aluno terá 20 dias para quitar ou entrar em acordo com a
                    escola, caso isso não ocorra, será efetuado o bloqueio
                    temporário ao acesso ao curso e à gravação das aulas.
                    Passados 60 dias do vencimento, o aluno será considerado
                    desistente, perdendo acesso definitivo ao curso.
                </p>
            </li>
            <li>
                <p class="font-bold">Sobre o Curso livre de Formação:</p> A modalidade
                de Cursos Livres que, após a Lei nº 9.394 - Diretrizes e Bases da
                Educação Nacional, passou a integrar a Educação Profissional, como
                Educação Profissional de Nível Básico. É a modalidade de educação
                não-formal de duração variável, destinada a proporcionar ao trabalhador
                conhecimentos que lhe permitam profissionalizar-se, qualificar-se
                e atualizar-se para o trabalho. Não há exigência de escolaridade
                anterior.
            </li>
            <li>
                <p class="font-bold">Sobre o curso na Regulus:</p>
                <p>
                    Pensando nas diferentes necessidades de conhecimento e
                    atuação, a REGULUS estruturou sua grade curricular de
                    formação de forma que, após os módulos básicos, o estudante
                    pode montar sua grade de estudos, direcionando para a área
                    que mais se adapta às suas necessidades profissionais sem
                    prejudicar a aprendizagem.
                </p>
                <p>
                    Na forma em que são disponibilizados, o aluno, a partir da
                    finalização do módulo inicial, poderá cursar mais de um
                    módulo/matéria em paralelo, diminuindo o tempo de estudos. O
                    aluno poderá optar pelos módulos que são mais adequados,
                    como também escolher o nível de conhecimento e atuação que
                    deseja. Do uso pessoal para autoconhecimento ao
                    profissional, como Astrólogo ou como ferramenta na área de
                    atuação profissional.
                </p>
                <p>
                    Desta forma o estudante que quer continuar seus estudos na
                    REGULUS, não necessita refazer matérias que já tenha
                    estudado em outras escolas ou, com professores particulares
                    ou, como autodidata.
                </p>
            </li>
            <li>
                <p class="font-bold">Sobre o Certificado de Formação:</p>
                <p>
                    A emissão do Certificado de <span class="font-bold"
                        >Formação em Astrologia</span
                    >, será emitido por solicitação da aluna ou aluno que
                    atingir o mínimo de 200h/aulas, (exigências mínimas
                    apresentadas na Classificação Brasileira de Ocupações -
                    CBO:5167-05 Astrólogo), obtiver aproveitamento satisfatório
                    através de exercícios, acompanhamento e avaliações em aula.
                </p>
                <p>
                    Com o <span class="font-bold">Certificado de Formação</span>
                    impresso, o aluno receberá o <span class="font-bold italic"
                        >Histórico Escolar</span
                    >, com a relação dos módulos e cursos que frequentou, com as
                    cargas horárias correspondentes. Esse Histórico Escolar,
                    será atualizado e quando o aluno frequentar novos na
                    Regulus, poderá solicitar o documento impresso.
                </p>
                <p>
                    Em conformidade com o <span class="italic"
                        >Item 3 - Sobre a presença</span
                    >, a contagem de horas não irá considerar cursos que o aluno
                    tenha se inscrito como ouvinte.
                </p>
            </li>
            <li>
                <p class="font-bold">Sobre a profissão de Astrólogo:</p>
                <p>
                    Atualmente o exercício da atividade de Astrólogo é
                    considerada ocupação no Brasil, conforme exigências
                    regulares apresentadas na Classificação Brasileira de
                    Ocupações - CBO (5167-05 Astrólogo), instituída por portaria
                    ministerial nº. 397, de 9 de outubro de 2002, que tem por
                    finalidade a identificação das ocupações no mercado de
                    trabalho.
                </p>
                <Link
                    href="https://cnastrologia.org.br/classificacao-brasileira-de-ocupacoes-astrologo/"
                    >Leia mais sobre a ocupação na página da CNA</Link
                >
                <p>
                    Não há lei ou conselho federal que regulamenta a profissão,
                    neste caso o controle profissional cabe às entidades de
                    classe de nível nacional, regulamentar.
                </p>
                <p>
                    Atualmente para a Formação efetiva do Astrólogo
                    profissional, as entidades representativas da classe,
                    nacionais e internacionais, consideram a carga horária
                    mínima de aproximadamente 520 horas, com aproveitamento
                    satisfatório através de exercícios, avaliações em aula e com
                    apresentação de trabalho final - TCC.
                </p>
            </li>
        </ol>
        <p class="text-right">atualizado 23/02 12:06</p>
    </main>
</Layout>
