---
import Link from "./Link.astro";
import { Image } from "astro:assets";

const { src, href, alt, texto } = Astro.props;
---

<Link href={href} class="flex items-center text-gray-400 hover:text-gray-400">
  <Image src={src} height={40} alt={alt} />
  <p>{texto}</p>
</Link>
